.container {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  align-items: stretch;
  margin-bottom: 4.7pc;
  overflow-x: hidden;

}

.header {
  margin: 0;
  padding: 15px 20px;
  position: sticky;
  top: 0;
  width: 100%;
  background-color: #4caf50;
  color: white;
  text-align: center;
  z-index: 100;
}

.header h1 {
  font-size: 1.5rem;
  text-align: center;
}

.headerActions {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
}

.uploadInput {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.drawButton {
  background-color: #f04e31;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s;
  color: #444;
}

.drawButton:hover {
  background-color: #c73b24;
}

.progressContainer {
  display: flex;
  align-items: center;
  gap: 10px;
  width: 100%;
}

.progressBar {
  height: 10px;
  border-radius: 5px;
  background-color: #2196f3;
  transition: width 0.4s ease-in-out;
}

.progressText {
  font-size: 0.9rem;
  color: white;
}

.gridContainer {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(45px, 1fr));
    gap: 2px;
    padding: 0;
    margin: 0;
  }
  
.participantCard img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.participantCard {
  color: #444;
  position: relative;
  border: 2px solid #ccc;
  border-radius: 5px;
  overflow: hidden;
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f9f9f9;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

.highlighted {
  border: 3px solid red;
  animation: borderAnimation 0.5s infinite;
}

@keyframes borderAnimation {
  0% {
    box-shadow: 0 0 15px red;
  }
  100% {
    box-shadow: 0 0 20px red;
  }
}

/* Modal Styling */
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6); /* Transparan hitam */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  color: #444;
}

.modalContent {
  background-color: white;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.3);
  text-align: center;
  width: 90%;
  max-width: 500px;
  color: #444;
}
.p {
  padding-bottom: 1pc;
}
.h3 {
  padding-bottom: 1pc;
}

.modalImage {
  width: auto;
  max-width: 100%;
  height: auto;
  max-height: 375px;
  object-fit: contain;
  border-radius: 10px;
  margin-bottom: 20px;
}

.closeButton {
  background-color: #4caf50;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s;
}

.closeButton:hover {
  background-color: #388e3c;
}
